
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f6f8;
    color: #333;
}


.navbar {
    position: sticky;
    top: 0;
    background: #1e3a8a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
      z-index: 1000;
  
}
 
.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: #fff;
    top: 30px;
    list-style: none;
    padding: 10px;
}

.dropdown-menu a {
    color: #333;
    display: block;
    padding: 5px 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.intro {
    padding: 40px;
    background: #ffffff;
}

.intro ul {
    margin-top: 15px;
    margin-left: 20px;
}


.section {
    padding: 40px;
}

.section-desc {
    margin-bottom: 20px;
    color: #555;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 6px;
}

.notice {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #1e3a8a;
}

.sticky-notice {
    position: sticky;
    top: 80px;
    background: #fde68a;
    padding: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}

.display-box {
    padding: 15px;
    margin-bottom: 10px;
    background: #c7d2fe;
}

.hidden-box {
    visibility: hidden;
}

.none-box {
    display: none;
}


footer {
    background: #1e3a8a;
    color: #fff;
    text-align: center;
    padding: 15px;
}
